/* .App {
  text-align: center;
} */

.app {
  display: flex;
  height: 100vh;
  background-color: skyblue;
}
.panel {
  width: 30%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat-bot {
  width: 30%;
  bottom: "20px";
}

.chat-title {
  text-align: left;
  font-size: 1.5rem;
  padding: "10px";
  color: "white";
  p {
    font-size: large;
    margin-left: 40px;
    top: -20px;
  }
}

.chat-area {
  padding: 20px;
}

.bot-bubble,
.user-bubble {
  padding: 10px;
  margin: 5px 0;
  
  margin-bottom: 10px;
  border-radius:  10px;
  padding: 10px;
  max-width: 100%
}
